.saludo-usuario {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  margin-top: 10px;
}

.button2 {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button2:hover {
  background-color: #d68910;
}

.dropdown {
position: relative;
z-index: 999;

}




.dropdowntwo {

  position: relative;
  z-index: 999;
}

.dropdownthree {
position: relative;
  z-index: 999;

}


.hueso111 {

  background-color: #ffffff;
  color: black;
  border: none;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
  padding: 0 20px;
}
.hueso111:hover {

  background-color: #ff9800;
  color: white;
  border: 2px solid #ff9800;
 transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(255, 152, 0, 0.4);
}






.button3 {

background-color: #ff9800;
color: #ffffff;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
font-size: 1.1rem;
height: 50px;
width: 50px;
border: 2px solid #e68900;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
display: flex;
  align-items: center;
  justify-content: center;
}



.button3:hover {
  background-color: #ffffff;
  color: black;
  border: 2px solid #ff9800;
  transform: translateY(-3px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}